@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@500&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+FR+Moderne:wght@100..400&display=swap');


h1{
    font-family: "Kode Mono";
    color: #2c4f33;
}

body{
    background-color: #c1ddc7;
}

#welcome-board{
    background-color:cadetblue;
    background-size: 145px;
   
    display: flex;
    justify-content: center;
    top: 50px;
    border-radius: 15px;
    border: 5px;
}

#nuvem{
   outline: red 4px solid;
  
}